<section class="FAQ" id="FAQ"> 
  <h2 class="headline"> 
    <span class="text-wrapper">frequently asked </span> 
    <span class="greentext">question</span> 
  </h2> 
  <ul class="accordion-container"> 
    <li class="ac"> 
      <h2 class="ac-header"> 
        <button type="button" class="ac-trigger"> 
          Lorem ipsum dolor sit amet. 
        </button> 
      </h2> 
      <div class="ac-panel"> 
        <p class="ac-text"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p> 
      </div> 
    </li> 
 
    <li class="ac"> 
      <h2 class="ac-header"> 
        <button type="button" class="ac-trigger"> 
          Lorem ipsum dolor sit amet. 
        </button> 
      </h2> 
      <div class="ac-panel"> 
        <p class="ac-text"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p> 
      </div> 
    </li> 
 
    <li class="ac"> 
      <h2 class="ac-header"> 
        <button type="button" class="ac-trigger"> 
          Lorem ipsum dolor sit amet. 
        </button> 
      </h2> 
      <div class="ac-panel"> 
        <p class="ac-text"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p> 
      </div> 
    </li> 
     
    <li class="ac"> 
      <h2 class="ac-header"> 
        <button type="button" class="ac-trigger"> 
          Lorem ipsum dolor sit amet. 
        </button> 
      </h2> 
      <div class="ac-panel"> 
        <p class="ac-text"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p> 
      </div> 
    </li> 
     
    <li class="ac"> 
      <h2 class="ac-header"> 
        <button type="button" class="ac-trigger"> 
          Lorem ipsum dolor sit amet. 
        </button> 
      </h2> 
      <div class="ac-panel"> 
        <p class="ac-text"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p> 
      </div> 
    </li> 
     
    <li class="ac"> 
      <h2 class="ac-header"> 
        <button type="button" class="ac-trigger"> 
          Lorem ipsum dolor sit amet. 
        </button> 
      </h2> 
      <div class="ac-panel"> 
        <p class="ac-text"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p> 
      </div> 
    </li> 
  </ul> 
  
  <script src="../js/faq.js"></script> 
  </section> 
 
   
</section>