<div class="container">
  <h2 class="FAQ">
    <p class="headline">
      <span class="text-wrapper">frequently asked </span>
      <span class="span">question</span>
    </p>
    <div class="questions">
      <div class="element">
        <div class="text">
          <p class="div">
            WHAT PROGRAMMING LANGUAGES ​​ARE MOST OFTEN USED IN YOUR PROJECT?
          </p>
          <img class="button" src="img/icon-down" />
        </div>
        <p class="p">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
      <div class="element-2">
        <p class="div">WHAT ARE THE DEADLINES FOR THE PROJECT?</p>
        <img class="button" src="img/icon-down"" />
      </div>
      <div class="element-2">
        <p class="div">WHAT PAYMENT METHODS DO YOU ACCEPT?</p>
        <img class="button" src="img/icon-down"" />
      </div>
      <div class="element-2">
        <p class="text-2">HOW CAN I CONTACT YOU?</p>
        <img class="button" src="img/icon-down"" />
      </div>
      <div class="element-2">
        <p class="text-3">DO YOU PROVIDE ADVICE OR SUPPORT?</p>
        <img class="button" src="img/icon-down" />
      </div>
      <div class="element-2">
        <p class="div">
          WHAT DOES THE PROCESS OF DEVELOPING A SOFTWARE PRODUCT LOOK LIKE FROM
          IDEA TO IMPLEMENTATION?
        </p>
        <img class="button" src="img/button-5.svg" />
      </div>
    </div>
  </h2>
</div>
