<section class="my-projects">
  <div class="container">
    <h2 class="projects-title">MY<span class="span-title">PROJECTS</span></h2>
    <ul class="projects-ul">
      <li class="projects-li">
        <img
          class="projects-img"
          srcset="./img/projects/1.jpg 1x, ./img/projeckts/1-2x.jpg 2x"
          src="./img/projeсts/1.jpg"
          alt="Green-harvest"
          width="320"
        />
      <div class="div-projects-h-p">
          <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">Power pulse webservice</p>
          <button class="projects-btn">
            VISIT
            <svg class="btn-projects-icon" width="14" height="14">
              <use href="./img/icons.svg#icon-Vector-Projects"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="projects-li">
        <img
          class="projects-img"
          srcset="./img/projects/2.jpg 1x, ./img/projeckts/2-2x.jpg 2x"
          src="./img/projeсts/2.jpg"
          alt="Green-harvest"
          width="320"
        />
      <div class="div-projects-h-p">
          <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">Mimino website</p>
          <button class="projects-btn">
            VISIT
            <svg class="btn-projects-icon" width="14" height="14">
              <use href="./img/icons.svg#icon-Vector-Projects"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="projects-li">
        <img
          class="projects-img"
          srcset="./img/projects/3.jpg 1x, ./img/projeckts/3-2x.jpg 2x"
          src="./img/projeсts/3.jpg"
          alt="Green-harvest"
          width="320"
        />
      <div class="div-projects-h-p">
          <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">Vyshyvanka vibes Landing Page</p>
          <button class="projects-btn">
            VISIT
            <svg class="btn-projects-icon" width="14" height="14">
              <use href="./img/icons.svg#icon-Vector-Projects"></use>
            </svg>
          </button>
        </div>
      </li>
    <li class="projects-li">
      <img
        class="projects-img"
        srcset="./img/projects/4.jpg 1x, ./img/projeckts/4-2x.jpg 2x"
        src="./img/projeсts/4.jpg"
        alt="Green-harvest"
        width="320"
      />
    <div class="div-projects-h-p">
        <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
        <p class="projects-p">Green harvest webservice</p>
        <button class="projects-btn">
          VISIT
          <svg class="btn-projects-icon" width="14" height="14">
            <use href="./img/icons.svg#icon-Vector-Projects"></use>
          </svg>
        </button>
      </div>
    </li>
      <li class="projects-li">
        <img
          class="projects-img"
          srcset="./img/projects/5.jpg 1x, ./img/projeckts/5-2x.jpg 2x, "
          src="../img/projeсts/5.jpg"
          alt="Wallet-webservice"
          width="320"
        />
        <div class="div-projects-h-p">
          <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">Wallet webservice</p>
          <button class="projects-btn">
            VISIT
            <svg class="btn-projects-icon" width="14" height="14">
              <use href="./img/icons.svg#icon-Vector-Projects"></use>
            </svg>
          </button>
        </div>
        <li class="projects-li">
          <img
            class="projects-img"
            srcset="./img/projects/6.jpg 1x, ./img/projeckts/6-2x.jpg 2x"
            src="./img/projeсts/6.jpg"
            alt="Green-harvest"
            width="320"
          />
        <div class="div-projects-h-p">
            <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
            <p class="projects-p">Chego jewelry website</p>
            <button class="projects-btn">
              VISIT
              <svg class="btn-projects-icon" width="14" height="14">
                <use href="./img/icons.svg#icon-Vector-Projects"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="projects-li">
          <img
            class="projects-img"
            srcset="./img/projects/7.jpg 1x, ./img/projeckts/7-2x.jpg 2x"
            src="./img/projeсts/7.jpg"
            alt="Green-harvest"
            width="320"
          />
        <div class="div-projects-h-p">
            <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
            <p class="projects-p">Energy flow webservice</p>
            <button class="projects-btn">
              VISIT
              <svg class="btn-projects-icon" width="14" height="14">
                <use href="./img/icons.svg#icon-Vector-Projects"></use>
              </svg>
            </button>
          </div>
        </li<li class="projects-li">
          <img
            class="projects-img"
            srcset="./img/projects/8.jpg 1x, ./img/projeckts/8-2x.jpg 2x"
            src="./img/projeсts/8.jpg"
            alt="Green-harvest"
            width="320"
          />
        <div class="div-projects-h-p">
            <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
            <p class="projects-p">Fruitbox online store</p>
            <button class="projects-btn">
              VISIT
              <svg class="btn-projects-icon" width="14" height="14">
                <use href="./img/icons.svg#icon-Vector-Projects"></use>
              </svg>
            </button>
          </div>
        </li>
      <li class="projects-li">
        <img
          class="projects-img"
          srcset="./img/projects/9.jpg 1x, ./img/projects/9-2x.jpg 2x"
          src="./img/projeсts/9.jpg"
          alt="English-Exellence"
          width="320"
        />
        <div class="div-projects-h-p">
          <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">English Exellence website</p>
          <button class="projects-btn">
            VISIT
            <svg class="btn-projects-icon" width="14" height="14">
              <use href="./img/icons.svg#icon-Vector-Projects"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="projects-li">
        <img
          class="projects-img"
          srcset="./img/projects/10.jpg 1x, ./img/projeckts/10-2x.jpg 2x"
          src="./img/projeсts/10.jpg"
          alt="Green-harvest"
          width="320"
        />
      <div class="div-projects-h-p">
          <h3 class="projects-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">Starlight studio landing page</p>
          <button class="projects-btn">
            VISIT
            <svg class="btn-projects-icon" width="14" height="14">
              <use href="./img/icons.svg#icon-Vector-Projects"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <button class="btn-load-more">
      LOAD MORE
      </button>
  </div>
  </section>
