<section class="skillstech"> 
  <div class="skillstech-container"> 
  <h2 class="visually-hidden">Skills</h2> 
      <ul class="skillstech-ul"> 
       <li class="skillstech-li"> 
        <p>HTML/CSS</p> 
       </li> 
       <div class="skillstech-box"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
       </div> 
       <li class="skillstech-li"> 
      <p>JavaScript</p> 
       </li> 
       <li class="skillstech-li"> 
        <p>React</p> 
       </li> 
      <div class="skillstech-box"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
      </div> 
       <li class="skillstech-li"> 
       <p>Node.js</p>  
       </li> 
      <div class="skillstech-box"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
      </div> 
       <li class="skillstech-li"> 
        <p>React Native</p> 
       </li> 
      <div class="skillstech-box"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
      </div> 
        <li class="skillstech-li"> 
        Typescript 
        </li> 
        <div class="skillstech-box"> 
          <a class="skillstech-logo" href="./index.html"> 
            <svg class="logo-text" width="" height=""> 
              <use href="/img/icons.svg#"></use> 
            </svg> 
          </a> 
        </div> 
      </ul> 
    </div> 
    
      <ul class="skillstech-list"> 
       <li class="skillstech-text"> 
        <p>HTML/CSS</p> 
       </li> 
       <div class="skillstech-text-wrap"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
       </div> 
       <li class="skillstech-li"> 
      <p>JavaScript</p> 
       </li> 
       <li class="skillstech-li"> 
        <p>React</p> 
       </li> 
      <div class="skillstech-text-wrap"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
      </div> 
       <li class="skillstech-li"> 
       <p>Node.js</p>  
       </li> 
      <div class="skillstech-text-wrap"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
      </div> 
       <li class="skillstech-li"> 
        <p>React Native</p> 
       </li> 
      <div class="skillstech-text-wrap"> 
        <a class="skillstech-logo" href="./index.html"> 
          <svg class="logo-text" width="" height=""> 
            <use href="/img/icons.svg#"></use> 
          </svg> 
        </a> 
      </div> 
        <li class="skillstech-li"> 
        Typescript 
        </li> 
        <div class="skillstech-text-wrap"> 
          <a class="skillstech-logo" href="./index.html"> 
            <svg class="logo-text" width="8" height="8"> 
              <use href="/img/icons.svg#"></use> 
            </svg> 
          </a> 
        </div> 
      </ul> 
  </div> 
</div>
<div></div>
</section>