<section class="skillstech">
  <div class="container skillstech-container">
    <h2 class="visually-hidden">Skills</h2>
    <div class="skillstech-marquee-inner">
      <p class="skillstech-marquee-line">HTML/CSS</p>
      <p class="skillstech-marquee-line">JavaScript</p>
      <p class="skillstech-marquee-line">React</p>
      <p class="skillstech-marquee-line">Node.js</p>
      <p class="skillstech-marquee-line">React Native</p>
      <p class="skillstech-marquee-line">Typescript</p>
    </div>
    <div class="skillstech-marquee-content">
      <p class="skillstech-marquee-accent">HTML/CSS</p>
      <p class="skillstech-marquee-accent">JavaScript</p>
      <p class="skillstech-marquee-accent">React</p>
      <p class="skillstech-marquee-accent">Node.js</p>
      <p class="skillstech-marquee-accent">React Native</p>
      <p class="skillstech-marquee-accent">Typescript</p>
    </div>
  </div>
</section>
