@media screen and (min-width: 0px) {
  .FAQ {
    align-items: flex-start;

    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }

  .headline {
    max-width: 320px;
    font-family: Impact;
    margin-bottom: 40px;
    font-size: 52px;
    font-weight: 400;
    line-height: 64px; /* 123.077% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  .text-wrapper {
    font-family: Impact;
    font-size: 52px;
    font-weight: 400;
    line-height: 64px; /* 123.077% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  /* .greentext {
    font-size: 52px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  } */
  .question {
    font-size: 52px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .accordion-container {
    justify-content: center;
  }
  .ac {
    max-width: 272px;
    padding: 28px 24px;
    margin-top: 0px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
  }


  .ac-text {
    color: var(--color-text);


    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
  }
  .ac-trigger {
    color: var(--color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .ac-trigger[aria-expanded='true']::after {
    transform: translateY(-50%) rotate(180deg) !important;
    transition: transform 600ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    right: 10px !important;
  }
  .ac .ac-trigger {
    font: bold 16px Poppins, sans-serif;
    color: var(--color-text);
    text-align: left;
    width: 100%;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.25s ease;
    position: relative;
    text-decoration: none;
    margin: 0;
    border: 0;
  }

  .ac .ac-trigger:focus {
    color: var(--color-text);
  }

  .ac .ac-panel .ac-text {
    font: 15px / 24px Poppins, sans-serif;
    color: var(--color-text);
    padding: 8px;
    margin: 0;
  }


  .ac .ac-header .ac-trigger::after {
    content: url(/img/faq.png);
    text-align: left;
    background-color: transparent;
    width: 15px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0%, -80%);
    position: absolute;
    right: 10px;
    top: 50%;
  }
  .ac .ac-header .ac-trigger::after svg {
    stroke: var(--color-text);
    fill: var(--color-text);
  .ac .ac-header .ac-trigger::after svg {
    stroke: var(--color-text);
    fill: var(--color-text);
  }


  .is-active {
    background-color: rgba(0, 176, 104, 0.2);
    border-radius: 16px;
  }
}
@media screen and (min-width: 768px) {
  .FAQ {
    padding-top: 124px;
    padding-bottom: 124px;
  }

  .headline {
    max-width: 592px;
    margin-bottom: 60px;
  }
  .text-wrapper {
    color: var(--color-text);


    font-size: 108px;
    line-height: 124px;
    line-height: 124px;
    letter-spacing: 1.8px;
  }
  /* .greentext {
    
  } */
  .question {
    font-size: 108px;
    line-height: 124px;
  }
  .ac {
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .faq-bg {
    background-image: url(../img/decor-bg-4.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: padding-box;
    background-position: left 4% bottom 33%;
  }
  .FAQ {
    padding-top: 164px;
    padding-bottom: 164px;
  }
  .headline {
    max-width: 520px;
  }
  .accordion-container {
    display: flex;
    flex-direction: column;
    max-width: 592px;
    margin-left: 654px;
    position: relative;
    transform: translateY(-17%);
  }
  .ac {
    max-width: 592px;
  }
}
