/* .SkillsTest {
  background: #a9ba5b;
} */

.visually-hidden {
  /* background-color: var(--light-accent, #14c57c); */
}

.skillstech-container {
}

.skillstech-marquee-inner {
  display: inline-flex;
  padding: 32px 0px;
  align-items: center;
  gap: 16px;
  background: #bcdfd1;
}
.skillstech-marquee-line {
  color: var(--Black, #292929);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.skillstech-marquee-content {
  color: var(--Accet-green, #00b068);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
