/* .SkillsTest {
  background: #a9ba5b;
} */

.skillstech-container {
  width: 360px;
  height: 245px;
}

.skillstech-ul {
  display: inline-flex;
  padding: 32px 0px;
  width: 1392px;
  height: 104px;
  background: #bcdfd1;
}

.skillstech-list {
  background: #e4e5e6;
  transform: rotate(2deg);
}

.skillstech-list {
  padding: 32px 0px;
}
.skillstech-li {
  color: var(--Black, #292929);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.skillstech-text {
  color: var(--Accet-green, #00b068);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
